<mat-card class="demo-card">
  <h1>ngx abstract control as</h1>
  <p class="mat-body-1">
    To see the type conversion errors when using strict template checking remove
    the <em>asFormGroup</em> and <em>asFormArray</em> pipes.
  </p>
  <form [formGroup]="testForm">
    <div class="details" [formGroup]="testForm.get('details') | asFormGroup">
      <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput placeholder="name" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="addresses">
      <div
        *ngFor="
          let addressFormGroup of (testForm.get('addresses') | asFormArray)
            .controls
        "
        [formGroup]="addressFormGroup | asFormGroup"
      >
        <mat-form-field>
          <mat-label>city</mat-label>
          <input matInput placeholder="city" formControlName="city" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
